<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>


<% if current_user.current_cart %>

  <% current_user.current_cart.line_items.each do |li| %>
    <p><%= link_to li.item.title, item_path(li.item) %> | <%= number_to_currency(li.item.price.to_f/100) %> | Quantity: <%= li.quantity %> | <% if li.item.inventory < 5 %>
      <strong>There are only <%= li.item.inventory %> left in stock.</strong>
    <% end %> </p>
  <% end %>


  <p>Order total: <strong><%= number_to_currency(current_user.current_cart.total.to_f/100) %></strong> </p>

  <%= button_to 'Checkout', checkout_path if current_user.current_cart.status != "submitted" %>

<% else %>

  <p>Cart is empty.</p>

<% end %>
